<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <style>
.form-Actions {
  text-align: center;
  margin-top: 20px;
}
.form-submitt {
  background-color: #008cba;
  color: #fff;
  font-size: 13px;
  padding :7px ;
  margin :3px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-submitNamet {
  font-size: 18px ;
  font-weight: bold ;
}
.form-creatnew {
  background-color: #002cba;
  color: #fff;
  font-size: 13px;
  padding :7px ;
  margin :3px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom : 20px ;
}
.form-submit:hover {
  background-color: #006799;
}
.form-links a {
  color: #666;
  text-decoration: none;
  margin: 0 10px;
}
.form-links a:hover {
  color: #333;
}
.cardrecipe {
  display :flex;
  flex-direction: row;
  width: 95vw;
  height: auto;
  margin-top: 15px;
  padding-left: 15px; 
  padding-top:10px; 
  padding-bottom:10px;
  border: 3px solid #12151a 
}
.cardrecipeBtn {
  display: flex ;
  flex-direction: row;
}
.cardrecipeName {
color: black;
font-size: 18px ;
margin-bottom: 5px ;
}
.cardrecipeName a {
text-decoration: none;
}
.cardrecipeDescription {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  margin-left :15px ;
}
  </style>
</head>
<body>
<h1>Inventories</h1>
<%= link_to 'New Inventory', new_inventory_path ,class: "form-creatnew" %>
<% @inventories.each do |inventory| %>
 <div class="cardrecipe">
  <div>
    <div class="cardrecipeName"> <%= link_to inventory.name ,inventory, class: "form-submitNamet" %></div>
  <div class="cardrecipeBtn">
     <div class="form-actions">
 <%= button_to "Delete", inventory, method: :delete, data: { confirm: "Are you sure?" }, class: "form-submitt" %>
      </div> |
  </div>
  </div>
  <div class="cardrecipeDescription"><%=inventory.description %></div>
</div> 
  <% end %>
<body>
 <%# if inventory.user == current_user %>