<h1>Public Recipe List</h1>
<ul>
  <% @public_recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to All Recipes', recipes_path %>
