<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Your App</title>
</head>
<body>
  <div class="welcome-container">
    <h1 class="welcome-title">Welcome to you</h1>
    <p class="welcome-message">
     the Recipe app keeps track of all your recipes, ingredients, and inventory. It will allow you to save ingredients, keep track of what you have, create recipes, and generate a shopping list based on what you have and what you are missing from a recipe.
    </p>
 <div class="get-started-button"><%= link_to "Login", new_user_session_path, class:"bg-white hover:bg-gray-100 text-gray-800 py-2 px-4 border border-gray-400 rounded shadow" %></div>
  </div>
</body>
